<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .highlight {
            background: red;
        }
    </style>
</head>
<body>

    <table border="1px">
        <tr>
            <td>info</td>
            <td>info</td>
            <td>info</td>
        </tr>
        <tr>
            <td>info</td>
            <td>info</td>
            <td>info</td>
        </tr>
        <tr>
            <td>info</td>
            <td>info</td>
            <td>info</td>
        </tr>
    </table>
    <div id="menu">
        <button data-action="save" >save</button>
        <button data-action="load" >load</button>
    </div>

    <script src="{{ asset('js/delegation.js') }}"></script>
</body>
</html>