<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div {
            margin: 10px;
            height: 100px;
        }
    </style>
</head>
<body>
    <form name="myform">...</form>
    <div id="div">123</div>

    <input type="text" id="input" value="Привет">

    <script src="{{ asset('dom-js/main.js') }}"></script>
</body>
</html>